<article>
  <header>
    <h1><a href="/{{ path }}">{{ title }}</a></h1>
    <aside>
      <time>{{ date }}</time>
      <div class='tags'>
        {{#each tags}}
        <span class='tag'>{{.}}</span>
        {{/each}}
      </div>
    </aside>
  </header>
  <section>
{{{contents}}}
  </section>
</article>